<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gob.museumapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuseumApp">
        <activity
            android:name=".activity.ExhibitionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ExhibitionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MuseumDetailActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CollectionDetailActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MineActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CollectionActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RankListActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MuseumActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CollectorActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MyCommentActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>

</manifest>